.DS_STORE
.htaccess
sftp-config.json
CandyCMS.sublime-project
CandyCMS.sublime-workspace
/core/config.php
/_design/
/.idea/
/sitemap.xml
uploads/*
/rss.xml

/plugins/Dribbble/

/plugins/Instagram/

/plugins/Twitter/

/plugins/ContactForm/

/cms-admin/css/less/preboot-master/
